<entries 
  
  maintain-focus="entry"
  reach-top="addTop()"
  reach-bottom="addBottom()">

  <entry 

    class="{{entry.timestamp|day}} 
           {{entry.timestamp|month}}
           date-{{entry.timestamp|date}}
           this-month-{{entry.timestamp|thisMonth}}"


    scroll-to-this="entry.timestamp == today"
    
    ng-repeat="entry in entries | orderBy:'timestamp' " 

    ng-class="{
      future: entry.timestamp > today,
      past: entry.timestamp < today,
      today: entry.timestamp == today,
      empty: entry.text == ''
    }">

    <header>
      <wrapper>

        <day>{{entry.timestamp|day}}</day> 
        <month>{{entry.timestamp|month}}</month> 
        <date>{{entry.timestamp|date}}</date><ordinal>{{entry.timestamp|ordinal}}</ordinal> 
        <year>{{entry.timestamp|year}}</year>  

      </wrapper>
    </header>

    <content>
      <wrapper>

        <field expanding-area>
          <pre><span></span><br></pre>
          <textarea 
            ng-model="entry.text" 

            touch-change="entry.update()" 
            ng-change="updateExceptTouch(entry)"

            spellcheck="false"

            lends-focus-up="4"
            starts-focused="entry.timestamp == today"
            >
          </textarea>
        </field>

      </wrapper>
    </content>

  </entry>

</entries>