<div id="entries">

  <entry ng-repeat="entry in entries | orderBy:'time'" 
    ng-class="{
      future: entry.time > today,
      past: entry.time < today,
      weekend: entry.day == 'Sunday' || entry.day == 'Saturday',
      today: entry.offset == 1,
      empty: entry.text == '' || entry.text == ' ',
      open: entry.open
    }">

    <header>
      <wrapper>
        <day>{{entry.day}}</day> 
        <month>{{entry.month}}</month> 
        <date>{{entry.date}}</date><ordinal>{{entry.ordinal}}</ordinal> 
        <year>{{entry.year}}</year>  
      </wrapper>
    </header>
    
    <img ng-class="{open: entry.open}" src="images/white.png" ng-click="entry.open = !entry.open" />


    <colors>
      <wrapper>

        <swatch style="background-color: #403947"></swatch>
        <swatch style="background-color: #E4D8B9"></swatch>
        <swatch style="background-color: #DF6767"></swatch>
        <swatch style="background-color: #8FDDD2"></swatch>
        <swatch style="background-color: #A6A6C2"></swatch>
      </wrapper>
    </colors>

    <content>
      <wrapper>
        <div expanding-area>
          <pre><span></span><br></pre>
          <textarea ng-model="entry.text" ng-change="entry.update()" spellcheck="false"></textarea>
        </div>
      </wrapper>
    </content>

  </entry>

</div>