* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

entry {
  width: 320px; }

content {
  outline: none;
  margin: 10px;
  padding: 10px;
  display: block;
  border: 1px solid transparent;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  content:hover, content:focus {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); }

header {
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #cccccc 100%);
  background-image: linear-gradient(top, #dddddd 0%, #cccccc 100%);
  padding: 10px;
  background-color: #eee;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #bbb; }

ordinal {
  font-size: 9px;
  vertical-align: top; }

dayofweek {
  font-weight: bold; }

year {
  color: #eee; }
