@import "always/_always";

$bg: #f9f9f9;
$fg: #3d2b24;
$wknd: #9ffff9;
$edit: #f6f0e5;

@mixin entry-class($bg, $header: $fg, $bottom: false) {
  $b: darken($bg, 10%);
  background-color: $bg;
  header {
    border-color: $b;
    @if $bottom { border-bottom: 1px solid $b; }
    color: $header;
    wrapper {
      background-color: $bg;
    }
  }
  &:not(.focus) .expandingArea:hover {
    border-color: $b;
  }
}

* { 
  margin: 0;
  padding: 0;
}

textarea, 
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body { 
  font-family: 'Radley', serif;
  padding-top: 20px;
  background-color: $bg;
  color: $fg;
}

#entries { 
  background-color: $bg;
}

entry { 

  display: inline-block;
  width: 100%;

  @include prefix(transition, all 0.2s);

  &.weekend { 
    @include entry-class(mix($bg, $wknd, 92%), mix($wknd, $fg, 50%));
  }

  &.today {
    background: url(images/today.png) left center no-repeat;
    header {
      color: mix($fg, $bg, 80%);
      border-bottom: 1px solid mix($fg, $bg, 20%);
    }
  }


}

entry:not(.focus) .expandingArea:hover { 
  border: 1px dashed mix($fg, $bg, 20%);
}

.expandingArea {

  @include prefix(transition, all 0.2s);

  position: relative;
  margin: 20px 10px;
  border: 1px dashed transparent;

  > textarea,
  > pre {
    color: $fg;
    padding: 10px;
    background: transparent;
    font: 400 16px/22px Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 mix($fg, #fff, 00%);
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
  }
  &.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }
  > pre {
    display: none;
  }
  > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}


header { 
  font-size: 13px;
  margin-right: 10px;
  color: mix($fg, $bg, 40%);
  text-shadow: 0 1px 0 mix($bg, #fff, 10%);
  border-bottom: 1px solid mix($fg, $bg, 10%);
  @include prefix(transition, all 0.2s);

  wrapper { 
    display: inline-block;
    position: absolute;
    line-height: 0;
    padding: 0 10px;
    background-color: $bg;
    height: 1px;
  }

}

ordinal { 
  font-size: 9px;
  vertical-align: top;
}

day { 
  font-style: italic;
}

