* {
  margin: 0;
  padding: 0; }

textarea,
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

body {
  font-family: 'Radley', serif;
  padding-top: 20px;
  background-color: #f9f9f9;
  color: #3d2b24; }

#entries {
  background-color: #f9f9f9; }

entry {
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  entry.weekend {
    background-color: #f1f9f9; }
    entry.weekend header {
      border-color: #cdeaea;
      color: #6e958e; }
      entry.weekend header wrapper {
        background-color: #f1f9f9; }
    entry.weekend:not(.focus) .expandingArea:hover {
      border-color: #cdeaea; }
  entry.today {
    background: url(images/today.png) left center no-repeat; }
    entry.today header {
      color: #62544e;
      border-bottom: 1px solid #d3cfce; }

entry:not(.focus) .expandingArea:hover {
  border: 1px dashed #d3cfce; }

.expandingArea {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin: 20px 10px;
  border: 1px dashed transparent; }
  .expandingArea > textarea,
  .expandingArea > pre {
    color: #3d2b24;
    padding: 10px;
    background: transparent;
    font: 400 16px/22px Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 white;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word; }
  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px; }
  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none; }
  .expandingArea > pre {
    display: none; }
  .expandingArea > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden; }

header {
  font-size: 13px;
  margin-right: 10px;
  color: #ada6a3;
  text-shadow: 0 1px 0 #fefefe;
  border-bottom: 1px solid #e6e4e3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  header wrapper {
    display: inline-block;
    position: absolute;
    line-height: 0;
    padding: 0 10px;
    background-color: #f9f9f9;
    height: 1px; }

ordinal {
  font-size: 9px;
  vertical-align: top; }

day {
  font-style: italic; }
