/*
Syntax error: Invalid CSS after "...nclude prefix()": expected "}", was "@include prefix..."
        on line 112 of ./style.scss

107: }
108: 
109: .no-touch ribbons .white {
110:   opacity: 0;
111:   @include prefix()
112:   @include prefix(animation, opacity 250ms);
113: }
114: .no-touch entry:hover ribbons .white {
115:   opacity: 1;
116: }
117: 

Backtrace:
./style.scss:112
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1130:in `expected'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1066:in `expected'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:1061:in `tok!'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:519:in `block'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:512:in `ruleset'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:536:in `block_child'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:529:in `block_contents'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:342:in `_to_tree'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/georgebrower/.gem/ruby/1.8/gems/sass-3.2.1/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...nclude prefix()\": expected \"}\", was \"@include prefix...\"\A         on line 112 of ./style.scss\A \A 107: }\A 108: \A 109: .no-touch ribbons .white {\A 110:   opacity: 0;\A 111:   @include prefix()\A 112:   @include prefix(animation, opacity 250ms);\A 113: }\A 114: .no-touch entry:hover ribbons .white {\A 115:   opacity: 1;\A 116: }\A 117: "; }
