@import "always/_always";

@function border-color($color) {
  @return desaturate(darken($color, 10%), 20%);
}


@mixin entry-class($mbg, $header) {

  background-color: $mbg;

  &.overflow:after { 
    @include radial-gradient(50% 13px, ellipse farthest-side, transparentize(#000, 0.65), transparentize(#000, 1));
  }

  &:before { 
    background-color: $mbg;
  }

  header {
    border-bottom-color: border-color($mbg);
    color: $header;
    wrapper {
      background-color: $mbg;
      border-color: border-color($mbg);
    }
  }

  .no-touch & field {
    > textarea, > pre {
      text-shadow: 0 1px 0 mix($header, $mbg, 10%);
    }
  }
  
}

$hover-trans: 0ms;
$vendors: -webkit-, '';
$fg: #555;
$red: #f03;
$edit: mix(#eee8d5, #fff, 50%);