@media screen and (min-width: 1550px) {
  ng-include.showing solo {
    margin-left: 0; }

  calendar year, calendar day {
    display: none; }
  calendar header wrapper {
    padding-left: 4px;
    padding-right: 4px;
    text-shadow: 0 -1px 0 white, 1px 0 0 white; }
  calendar ordinal {
    display: none; }
  calendar entry:not(.empty):after {
    opacity: 1; }
  calendar entry:not(.date-1) month {
    display: none; }
  calendar entry {
    width: 14.2857142857%; }
    calendar entry * {
      cursor: pointer; }
    calendar entry.Monday:first-of-type {
      margin-left: 14.2857142857%; }
    calendar entry.Tuesday:first-of-type {
      margin-left: 28.57143%; }
    calendar entry.Wednesday:first-of-type {
      margin-left: 42.85714%; }
    calendar entry.Thursday:first-of-type {
      margin-left: 57.14286%; }
    calendar entry.Friday:first-of-type {
      margin-left: 71.42857%; }
    calendar entry.Saturday:first-of-type {
      margin-left: 85.71429%; }
    calendar entry.today content wrapper {
      background-image: none; }
    calendar entry content, calendar entry content wrapper {
      height: 140px;
      overflow: hidden;
      user-select: none; }
    calendar entry.focus ::-webkit-scrollbar {
      width: 4px; }
    calendar entry.focus content ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.15); }
    calendar entry field {
      margin: 10px 12px; }
      calendar entry field > textarea,
      calendar entry field > pre {
        text-shadow: none;
        padding: 0;
        height: 140px;
        font: 400 11px/15px Helvetica, Arial, sans-serif; }
    calendar entry ribbons img {
      top: -15px;
      position: relative; }
  calendar #over {
    display: block; } }
