@import "_shared";

button { 

  $h: 25px;
  $color: darken($edit, 25%);
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: $h;
  line-height: $h - 2px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  @include linear-gradient(top, $color, darken($color, 10%));
  border: 1px solid darken($color, 15%);
  &:hover { 
    @include linear-gradient(top, $color, darken($color, 16%));
  }
}

solo {

  

  header { 
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    display: block;
    background-color: $edit;
    color: #b58900;
    border-bottom: 1px solid border-color($edit);
    text-shadow: 0 -1px 0 rgba(255,255,255,0.5), 0 1px 0 #ccc;
    box-shadow: 0 0px 2px rgba(0,0,0,0.1);
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;

    position: absolute;
    wrapper { 
      margin: 0;
      height: 18px;
      line-height: 18px;
    }

  }

  button {
    position: absolute;
    z-index: 5;
    top: 7px;
    right: 7px;
  }

  textarea { 
    position: absolute;
    font: 400 16px / 22px Helvetica, Arial, sans-serif;
    padding: 20px;
    top: 39px;
    left: 0;
    right: 0;
    bottom: 0;
    resize: none;
    background-color: transparentize($edit, 0.1);
  }

}