@import "_shared";


@media screen and (max-width: 1549px) and (min-width: 850px) {

  calendar { 


    ordinal {
      display: none;
    }

    year { 
      display: none;
    }

    entry.Sunday:first-of-type { 
      margin-left: 66.6666666666%;
    }


    entry:before { 
      position: absolute;
      content: ' ';
      width: 100%;
      height: 1000px;
      display: block;
      // z-index: -1;
      @include prefix(transition, background-color $hover-trans);
    }
    
    .empty:not(.Monday):not(.Friday):not(.focus):not(.hover):not(:hover):not(.today) header wrapper { 
      display: none;
    }

    .Friday, .Saturday, .Sunday { 
      width: 33.333333%;
      field {
        margin: 15px;
        > textarea,
        > pre {
          font: 400 11px/17px Helvetica, Arial, sans-serif;
        }
      }
    }

    .Monday, .Tuesday, .Wednesday, .Thursday { 
      width: 25%;
      field {
        margin: 15px;
        > textarea,
        > pre {
          
          font: 400 11px/17px Helvetica, Arial, sans-serif;
        }
      }
    }

    entry:not(.Monday):not(.Friday):not(.today):not(.focus):not(.hover):not(:hover):not(.today) { 
      date, month, day:after { 
        display: none;
      }
    }

    content, content wrapper { 
      position: relative;
      bottom: 0;
    }

  }

}