@media screen and (max-width: 1549px) and (min-width: 850px) {
  calendar ordinal {
    display: none; }
  calendar year {
    display: none; }
  calendar entry.Sunday:first-of-type {
    margin-left: 66.6666666666%; }
  calendar entry:before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1000px;
    display: block;
    -webkit-transition: background-color 0ms;
    transition: background-color 0ms; }
  calendar .empty:not(.Monday):not(.Friday):not(.focus):not(.hover):not(:hover):not(.today) header wrapper {
    display: none; }
  calendar .Friday, calendar .Saturday, calendar .Sunday {
    width: 33.333333%; }
    calendar .Friday field, calendar .Saturday field, calendar .Sunday field {
      margin: 15px; }
      calendar .Friday field > textarea,
      calendar .Friday field > pre, calendar .Saturday field > textarea,
      calendar .Saturday field > pre, calendar .Sunday field > textarea,
      calendar .Sunday field > pre {
        font: 400 11px/17px Helvetica, Arial, sans-serif; }
  calendar .Monday, calendar .Tuesday, calendar .Wednesday, calendar .Thursday {
    width: 25%; }
    calendar .Monday field, calendar .Tuesday field, calendar .Wednesday field, calendar .Thursday field {
      margin: 15px; }
      calendar .Monday field > textarea,
      calendar .Monday field > pre, calendar .Tuesday field > textarea,
      calendar .Tuesday field > pre, calendar .Wednesday field > textarea,
      calendar .Wednesday field > pre, calendar .Thursday field > textarea,
      calendar .Thursday field > pre {
        font: 400 11px/17px Helvetica, Arial, sans-serif; }
  calendar entry:not(.Monday):not(.Friday):not(.today):not(.focus):not(.hover):not(:hover):not(.today) date, calendar entry:not(.Monday):not(.Friday):not(.today):not(.focus):not(.hover):not(:hover):not(.today) month, calendar entry:not(.Monday):not(.Friday):not(.today):not(.focus):not(.hover):not(:hover):not(.today) day:after {
    display: none; }
  calendar content, calendar content wrapper {
    position: relative;
    bottom: 0; } }
