@media screen and (max-width: 1199px) and (min-width: 800px) {
  ordinal {
    display: none; }

  year {
    display: none; }

  .Friday, .Saturday, .Sunday {
    width: 33.333333%; }
    .Friday field, .Saturday field, .Sunday field {
      margin: 10px; }
      .Friday field > textarea,
      .Friday field > pre, .Saturday field > textarea,
      .Saturday field > pre, .Sunday field > textarea,
      .Sunday field > pre {
        font: 400 11px/16px Helvetica, Arial, sans-serif; }

  .Monday, .Tuesday, .Wednesday, .Thursday {
    width: 25%; }
    .Monday field, .Tuesday field, .Wednesday field, .Thursday field {
      margin: 10px; }
      .Monday field > textarea,
      .Monday field > pre, .Tuesday field > textarea,
      .Tuesday field > pre, .Wednesday field > textarea,
      .Wednesday field > pre, .Thursday field > textarea,
      .Thursday field > pre {
        font: 400 11px/16px Helvetica, Arial, sans-serif; }

  entry:not(.Monday):not(.Friday):not(.today) date, entry:not(.Monday):not(.Friday):not(.today) month, entry:not(.Monday):not(.Friday):not(.today) day:after {
    display: none; }

  content, content wrapper {
    position: relative;
    bottom: 0; } }
