@import "_shared";

@media screen and (max-width: 1199px) and (min-width: 800px) {

  ordinal {
    display: none;
  }

  year { 
    display: none;
  }
  
  .empty:not(.Monday):not(.Friday) header wrapper { 
    display: none;
  }

  .Friday, .Saturday, .Sunday { 
    width: 33.333333%;
    field {
      margin: 15px;
      > textarea,
      > pre {
        font: 400 11px/17px Helvetica, Arial, sans-serif;
      }
    }
  }

  .Monday, .Tuesday, .Wednesday, .Thursday { 
    width: 25%;
    field {
      margin: 15px;
      > textarea,
      > pre {
        
        font: 400 11px/17px Helvetica, Arial, sans-serif;
      }
    }
  }

  entry:not(.Monday):not(.Friday):not(.today) { 
    date, month, day:after { 
      display: none;
    }
  }

  content, content wrapper { 
    position: relative;
    bottom: 0;
  }

}