<calendar 
  
  maintain-focus="entry"
  >

  <pointer class="above" 
           ng-class="{ showing: pointer < 0 }"
           ng-click="scrollToToday()"><wrapper></wrapper></pointer>

  <entry 
    class="{{entry.timestamp|day}} 
           {{entry.timestamp|month}}
           date-{{entry.timestamp|date}}
           this-month-{{entry.timestamp|thisMonth}}"

    ng-class="{
      future: entry.timestamp > today,
      past: entry.timestamp < today,
      today: entry.timestamp == today,
      empty: entry.text == ''
    }"

    scroll-to-this="entry.timestamp == today"
    point-to-this="entry.timestamp == today"
    ng-repeat="entry in entries | orderBy:'timestamp' | startFrom:begin | limitTo:pageSize"
    ng-click="solo(entry)">

    <ng-include src="'templates/header.html'"></ng-include>

    <content>
      <wrapper>

        <field expanding-area overflow="3">
          <pre><span></span><br></pre>
          <textarea 

            ng-disabled="Modernizr.touch"
            ng-model="entry.text" 
            ng-change="updateExceptTouch(entry)"

            spellcheck="false"

            touch-change="entry.update()" 
            lends-focus-up="4"
            starts-focused="entry.timestamp == today">

          </textarea>
        </field>

      </wrapper>
    </content>

  </entry>

  <pointer class="below" 
           ng-class="{ showing: pointer > 0 }"
           ng-click="scrollToToday()"><wrapper></wrapper></pointer>


  <!-- <ng-include src="'templates/solo.html'"></ng-include> -->

</calendar>