<pointer class="above" 
       ng-class="{ showing: pointer < 0 }"
       ng-click="scrollToToday()"><wrapper></wrapper></pointer>


<calendar
  ng-class="{ birdseye: birdseye }"
  reach-top="addTop()"
  reach-bottom="addBottom()"
  maintain-focus="entry">

  <entry 

    
    class="{{entry.timestamp|day}} 
           {{entry.timestamp|month}}
           date-{{entry.timestamp|date}}"

    ng-class="{
      future: entry.timestamp > today,
      past: entry.timestamp < today,
      today: entry.timestamp == today,
      empty: entry.text == '',
      open: selectedEntry == entry
    }"

    scroll-to-this="entry.timestamp == today"
    point-to-this="entry.timestamp == today"
    ng-repeat="entry in entries | orderBy:'timestamp' | startFrom:begin | limitTo:pageSize"
    reveal-on-last
    ng-click="solo(entry)">

    <ng-include src="'templates/header.html'"></ng-include>

    <content>
      <wrapper>

        <field expanding-area overflow="3">
          <pre><span></span><br></pre>
          <textarea 

            ng-disabled="Modernizr.touch || month"
            ng-model="entry.text" 

            ng-change="updateExceptTouch(entry)"
            touch-blur="entry.update()" 

            spellcheck="false"

            lends-focus-up="4"
            starts-focused="entry.timestamp == today">

          </textarea>
        </field>

      </wrapper>
    </content>

  </entry>


</calendar>

<ng-include ng-class="{ showing: drawer }" src="'templates/solo.html'"></ng-include>

<pointer class="below" 
         ng-class="{ showing: pointer > 0 }"
         ng-click="scrollToToday()"><wrapper></wrapper></pointer>

<button id="birdseye" ng-click="toggleBirdseye()">Boom</button>